<body style="background-color:#F3FFFF">

<center>
  |  <%= link_to "ADDRESSES TABLE", addresses_path %>  |
</center>

<center>
<br>

<h1>Gotta make sure you can do everything.</h1>

<br>

<p> I have accomplished a number of feats on this website. </p>
<p> Some are great, some are good, and some are kind of dumb. </p>
<p> I'm looking for work and need to prove I can do things. </p>

<br>

<h2> Make an app (basically Orbitz for ground transportation) optimized for
  Android that calls four APIs and returns information to an Angular front end:</h2>
<div class='center'>
  <ul>
    <li><a href="https://rider-app.firebaseapp.com">Sort info from Uber, Lyft, Google Transport and Taxi Fare Finder</a></li>
    <li><a href="http://farefairy.herokuapp.com/">
                 Our open-source API includes full documentation</a></li>
  </ul>
</div>

<br>

<h2> Feats I've seen in job ads: </h2>
<div class='center'>
  <ul>
    <li><a href="https://github.com/Publicover/test_everything">CRUD operations</a></li>
    <li><a href="https://github.com/Publicover/test_everything/blob/master/app/views/addresses/show.html.erb">
                 Get a JSON from the Google API</a></li>
    <li><a href="https://github.com/Publicover/test_everything/blob/master/app/views/addresses/show.html.erb">
                 Put an address on an embedded Google map</a></li>
    <li><a href="https://github.com/Publicover">Familiarity with git</a></li>
    <li><a href="https://testeverything.herokuapp.com/">Deployment to Heroku </a></li>
  </ul>
</div>

<br>

<h2> Stupid feats that just barely separate me from a complete amateur: </h2>
<div class='center'>
  <ul>
    <li><a href="https://github.com/Publicover/test_everything/blob/master/app/views/layouts/application.html.erb">
                 Make it responsive and mobile-first </a></li>
    <li><a href="https://github.com/Publicover/test_everything/blob/master/app/views/addresses/index.html.erb">
                 Bootstrap table magic</a></li>
  </ul>
</div>

<br>

<h2> Requests from friends, family and people who hear I work on computers: </h2>
<div class='center'>
  <ul>
    <li><a href="https://github.com/Publicover/test_everything/blob/master/app/views/dashboards/index.html.erb">
                 "Make the whole thing, like, blue, but not, like, wicked blue." </a></li>
    <div class='pleasedont'><li><a href="https://github.com/Publicover/test_everything/blob/master/app/views/dashboards/index.html.erb">
                 "BOLD CAPS ITALICIZED WITH A BULLET." </a></li></div>
    <li><a href="https://github.com/Publicover/test_everything/blob/master/app/views/dashboards/index.html.erb" target="_blank">
                 Make sure this link opens in a new tab</a></li>
  </ul>
</div>

<br>



</center>

</body>
